#wrapper {
  width: 100%;
}

.index #wrapper {
  display: table;
}

#active_admin_content {
  margin: 0;
  padding: $horizontal-page-margin;

  #main_content_wrapper {
    float: left;
    margin-left: 20px;
    // width: 100%;
    width: calc(100% - calc(#{$sidebar-width} + 20px));

    #main_content{
      // margin-right: $sidebar-width + ($section-padding * 2);
      margin-left: $sidebar-width + ($section-padding * 2);
    }
  }

  &.without_sidebar #main_content_wrapper #main_content{ margin-right: 0; }

  #sidebar {
    float: left;
    width: $sidebar-width;
    // margin-left: -$sidebar-width;
  }
}
